name: .NET

on:
  push:
  pull_request:

jobs:
  build:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 6.0.x
    - name: Restore dependencies
      run: dotnet restore

    - name: Build
      run: dotnet build -c Release --no-restore
    - name: Upload artifacts (dotnet)
      uses: actions/upload-artifact@v2
      with:
        name: QuantumTunnel-dotnet
        path: bin/Release/net6.0/*

    - name: Build (standalone)
      run: dotnet publish -c Release --self-contained -r win-x64 -p:PublishTrimmed=true -p:PublishSingleFile=true
    - name: Prepare standalone release
      run: |
        mkdir release
        xcopy README.md release\
        xcopy bin\Release\net6.0\win-x64\publish\QuantumTunnel.exe release\
        7z a -tzip QuantumTunnel.zip .\release\*

    - name: Upload artifacts (standalone)
      uses: actions/upload-artifact@v2
      with:
        name: QuantumTunnel
        path: |
          release/*

    - name: Release
      uses: softprops/action-gh-release@v1
      if: startsWith(github.ref, 'refs/tags/')
      with:
        files: QuantumTunnel.zip
